.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #292e34;

  font-family: var(--font-family);
}

.container:not(.about__container, .contact__container) {
  background-color: #fff;
  max-width: 1440px;
}

.form__container {
  width: 100%;
}

.form__container h3 {
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: var(--yellow);
}
.form__container h2 {
  margin-top: 10px;
  font-weight: 800;
  font-size: 36px;
  line-height: 128%;
  text-align: center;
  color: var(--black);
}

.form__items {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 30px 10px;
}
.form__item img {
  display: flex;
  margin: 0 auto;
}

.form__items p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--black);
  max-width: 340px;
}
.form__items {
  position: relative;
}

.form__link--left,
.form__link--right {
  position: absolute;
  border-radius: 100px;
  width: 100px;
  height: 4px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, #efd923 0%, #ffbc00 100%);
}

.form__link--left {
  top: 30%;
  left: 34%;
}
.form__link--right {
  top: 30%;
  right: 34%;
}

.form__sending {
  margin-top: 40px;
}

.form__contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form__input {
  padding: 12px 20px;
  border: 1px solid #d9d9d9;
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  color: var(--black);
}

.form__top,
.form__middle {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.input__message {
  margin-bottom: 20px;
}

.form__button {
  border-radius: 100px;
  padding: 20px 30px;
  width: 75%;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;

  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, #efd923 0%, #ffbc00 100%);
}

@media (max-width: 700px) {
  .form__items {
    flex-direction: column;
    align-items: center;
  }

  .form__link--left,
  .form__link--right {
    position: initial;
    width: 45px;
    transform: rotate(90deg);
  }

  .form__container h2 {
    font-size: 20px;
  }

  .form__container p {
    font-size: 16px;
  }
}
