.preview__container {
  margin: 0 auto;
}

.preview__wrapper {
  position: relative;
}

.preview__heading {
  position: absolute;
  top: 120px;
  left: 330px;
  font-weight: 800;
  font-size: 120px;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(
    180deg,
    #fff 15.68%,
    rgba(255, 255, 255, 0.27) 50.58%,
    rgba(255, 255, 255, 0.21) 51.78%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.previews__image-car {
  position: absolute;
  top: 334px;
  left: 250px;
  z-index: 10;
}

/* Elements */

.preview__element {
  position: absolute;

  right: 0;
  bottom: 7px;

  border-left: 1440px solid transparent; /* Левый край треугольника */
  border-right: 0px solid transparent; /* Правый край треугольника */
  border-bottom: 390px solid var(--white); /* Нижний край треугольника (цвет) */
}

.preview__element--yellow-1 {
  position: absolute;
  left: -10px;
  bottom: 5px;
  width: 327px;
  height: 40px;
  background-color: var(--yellow);
  transform: rotate(-15deg);
  transform-origin: top left;
  clip-path: polygon(3.3% 0, 100% 0, 96.1% 100%, 100% 100%, 0 100%);
  z-index: 100;
}

.preview__element--yellow-2 {
  position: absolute;
  right: -6px;
  bottom: 314px;
  width: 165px;
  height: 40px;
  background-color: var(--yellow);
  transform: rotate(-15.2deg);
  transform-origin: top left;
  clip-path: polygon(6.3% 0, 100% 0, 93.3% 100%, 100% 100%, 0 100%);
  z-index: 100;
}

.preview__element--blue {
  position: absolute;
  left: -11px;
  bottom: -34px;
  width: 527px;
  height: 40px;
  background-color: var(--blue);
  transform: rotate(-15deg);
  transform-origin: top left;
  clip-path: polygon(2.1% 0, 100% 0, 97.5% 100%, 100% 100%, 0 100%);
  z-index: 100;
}

@media (max-width: 700px) {
  .preview__image-city {
    max-width: 700px;
  }

  .previews__image-car {
    display: none;
  }

  .preview__element {
    /* display: none; */
    right: -50px;
    bottom: 6px;
    border-left: 700px solid transparent; /* Левый край треугольника */
    border-right: 0px solid transparent; /* Правый край треугольника */
    border-bottom: 195px solid var(--white); /* Нижний край треугольника (цвет) */
  }

  .preview__element,
  .preview__element--blue,
  .preview__element--yellow-1,
  .preview__element--yellow-2 {
    display: none;
  }

  .preview__heading {
    position: absolute;
    top: 70px;
    left: 70px;
    font-weight: 800;
    font-size: 64px;
  }
}

@media (max-width: 500px) {
  .preview__image-city {
    width: 100%;
  }

  .preview__heading {
    display: block;
    max-width: 100%;
    text-align: center;
    top: 30px;
    font-weight: 800;
    font-size: 32px;
  }
}

@media (max-width: 450px) {
  .preview__heading {
    left: 115px;
  }
}

@media (max-width: 400px) {
  .preview__heading {
    left: 100px;
  }
}

@media (max-width: 365px) {
  .preview__heading {
    left: 80px;
  }
}
