@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
}
:root {
  --orange: #eb5c04;
  --blue: #18549a;
  --white: #fff;
  --black: #000;
  --yellow: #efd923;
}

body {
  background-color: #292e34;
  font-family: var(--font-family);
  margin: 0 auto;
  padding: 0;
}

h3 {
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: var(--yellow);
}

section {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

p,
h2,
h1,
h3,
h4,
li,
a {
  margin: 0;
  padding: 0;
}
