@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url(../style/header.css);
@import url(../style/popup.css);
@import url(../style/preview.css);
@import url(../style/services.css);
@import url(../style/about.css);
@import url(../style/form.css);
@import url(../style/reviews.css);
@import url(../style/contact.css);
@import url(../style/footer.css);

:root {
  --font-family: "Poppins", "Montserrat", sans-serif;
}
:root {
  --orange: #eb5c04;
  --blue: #18549a;
  --white: #fff;
  --black: #000;
  --yellow: #efd923;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #292e34;
  font-family: var(--font-family);
  margin: 0 auto;
  padding: 0;
}

.body__fixed {
  overflow-y: hidden;
}

h3 {
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: var(--yellow);
}

.container:not(.preview__container, .services__container) {
  padding: 100px 20px;
}

section {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

p,
h2,
h1,
h3,
h4,
li,
a {
  margin: 0;
  padding: 0;
}

@media (max-width: 1399px) {
  .element {
    display: none;
  }
}

@media (max-width: 700px) {
  .call-link {
    position: fixed;
    left: 10px;
    bottom: 10px;
    display: block;
    background-image: url(../img/icons8-phone.svg);
    width: 50px;
    height: 50px;
    z-index: 10;
    opacity: 0.8;
  }

  .container:not(.preview__container) {
    padding: 30px 20px;
  }
}
